.btn {
	color: white;
	background: linear-gradient(147deg, $Cyan, $Blue);
	border-radius: 20px;
	padding: 0.95rem 4rem;
	font-weight: bold;
	cursor: pointer;
	transition: all 1s ease;

	&:hover {
		background: linear-gradient(147deg, $Blue, $Cyan);
	}

	@mixin atMedium {
		&.early-access__button {
			height: 52.6px;
			padding: 0.95rem 1rem;
		}
	}
}
