.contact-section {
	background-color: $DarkBlueThree;
	padding: 2rem 0;

	@mixin atMedium {
		padding: 8rem;
		margin-bottom: -100px;
		margin-top: -32.5%;
	}

	&__logo-container {
		width: 60%;
		height: auto;

		@mixin atMedium {
			width: 30%;
			margin-top: 10rem;
		}
	}

	&__logo {
		width: 100%;
		height: auto;
	}

	&__container {
		@mixin atMedium {
			display: flex;
			align-items: flex-start;
			margin-top: 2rem;
		}
	}

	&__basic-info {
		width: 100%;
		margin-top: 2rem;

		@mixin atMedium {
			flex-basis: 60%;
			margin-top: 0;
		}
	}

	&__basic-info__contact-info {
		margin-top: 1rem;
		display: flex;

		@mixin atMedium {
			margin-top: 0;
		}
	}

	&__basic-info__contact-info:first-child {
		@mixin atMedium {
			float: left;
			width: 60%;
			margin-right: 10px;
		}
	}

	&__basic-info__contact-info:last-child {
		@mixin atMedium {
			margin-top: 2rem;
		}
	}

	&__basic-info__icon {
		width: 18px;
		height: 18px;
		margin-right: 1.5rem;
		transform: translatey(30%);
	}

	&__basic-info__description {
		line-height: 2rem;
		font-size: 1.125rem;
		color: rgba(255, 255, 255, 0.75);
	}

	/* THIS IS WHERE THE LINKS APPEAR */
	&__contact-links {
		@mixin atMedium {
			flex-basis: 40%;
			width: 100%;
			display: flex;
		}

		&--m-top {
			padding-top: 30px;

			@mixin atMedium {
				padding-top: 0;
			}
		}
	}
	&__contact-links__list {
		list-style: none;

		li + li {
			margin-top: 10px;
		}

		a {
			text-decoration: none;
		}

		@mixin atMedium {
			width: 200px;
		}
	}

	&__social-icons {
		width: 100%;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		@mixin atMedium {
			margin-top: 0;
			height: max-content;
		}
	}

	&__social-icon {
		width: 20px;
		height: 20px;
	}

	&__social-icon + &__social-icon {
		margin-left: 20px;
	}
}
