.early-access {
	height: 100vh;

	&__content-container {
		background: linear-gradient(to bottom, $DarkBlueTwo, $DarkBlueFour);
		box-shadow: 3px 3px 100px -15px black;
		border-radius: 5px;
		padding: 2rem 1.25rem;
		width: 90%;
		height: 60vh;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		@mixin atMedium {
			width: 75%;
			padding: 2rem 3rem;
			position: relative;
			height: 45vh;
		}
	}

	&__title {
		@mixin atMedium {
			font-size: 2rem;
		}
	}

	&__description {
		@mixin atMedium {
			width: 80%;
			color: white;
		}
	}

	&__email-container {
		display: flex;
		flex-direction: column;

		@mixin atMedium {
			width: 100%;
			flex-direction: row;
		}
	}

	&__email-input {
		color: $DarkBlueTwo;
		border: 5px solid $DarkBlueTwo;
		background-color: white;
		border-radius: 20px;
		padding: 0.95rem 2.5rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 2rem;

		@mixin atMedium {
			width: 80%;
			margin-bottom: none;
			margin-right: 1.5rem;
		}
	}

	&__email-input::placeholder {
		color: $DarkBlueTwo;
	}

	&__description {
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
		line-height: 1.75rem;
	}
}
