.features-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	@mixin atMedium {
		width: 80%;
		margin: 10rem auto 0;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 50%);
		grid-column-gap: 20px;
	}

	&__feature-card {
		text-align: center;
		height: 40vh;

		@mixin atMedium {
			padding: 6rem;
		}
	}

	&__card-description {
		line-height: 1.5rem;
		color: rgba(255, 255, 255, 0.75);
	}

	&__card-title {
		font-weight: 400;
	}
}
