.site-hero {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: $FontFamilySpecial;
	background-color: $DarkBlueOne;

	&__hero-img {
		width: 80%;
		height: auto;
		z-index: 2;
		margin-bottom: 8vh;

		@mixin atMedium {
			width: 36%;
		}
	}

	&__content {
		display: flex;
		position: relative;
		height: 100%;
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: $DarkBlueTwo;
	}

	&__bg-img {
		position: absolute;
		top: -95%;
		width: 100%;

		@mixin atMedium {
			top: -300%;
		}
	}

	&__title {
		color: white;
		text-align: center;
		z-index: 2;
		background-color: $DarkBlueTwo;
		font-weight: 700;
		font-size: 2rem;

		@mixin atMedium {
			width: 50%;
			margin: 0 auto 30px;
			line-height: 3rem;
			background: none;
		}
	}

	&__text {
		text-align: center;
		line-height: 1.5rem;
		width: 90%;
		z-index: 2;

		@mixin atMedium {
			line-height: 1.6rem;
			margin-bottom: 30px;
			width: 30%;
		}
	}

	&__btn {
		z-index: 2;
	}
}
